@model IEnumerable<CellCultureBank.DAL.Models.BankOfCell>

@{
ViewData["Title"] = "Банк #1";
}

<style>
    /* Стили для строки таблицы */
    tr {
        position: relative; /* Это позволит позиционировать кнопки внутри строки */
    }

    /* По умолчанию скрываем кнопки */
    .action-btn {
        display: none;
        position: absolute; /* Позиционируем кнопки относительно строки */
        top: 50%;
        transform: translateY(-50%); /* Выравниваем кнопки по вертикали по центру строки */
    }

    .edit-btn {
        right: 10px; /* Кнопка редактирования будет левее кнопки удаления */
    }

    /* Показываем кнопки при наведении на строку */
    tr:hover .action-btn {
        display: inline;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Банк #1</h1>
    <p>Список всех клеток банка, количество записей: @Model.Count()</p>
    <a asp-controller="Bank" asp-action="Create" class="btn btn-primary mb-3">Создать</a>
    <a asp-controller="Bank" asp-action="GetOnDateOfDefrosting" class="btn btn-warning mb-3">Диапазон заморозок</a>
    <a asp-controller="Bank" asp-action="GetAllOnDateRangeOfDefrosting" class="btn btn-dark mb-3">Диапазон разморозок</a>
    <a href="@Url.Action("ExportToCsv", "Bank")" class="btn btn-success mb-3">Экспорт в CSV</a>
    <button type="button" id="import-btn" class="btn btn-info mb-3">Импортировать CSV</button>

    <form id="import-form" method="post" enctype="multipart/form-data" action="/Bank/ImportFromCsv" style="display: none;">
        <input type="file" id="import-file" name="file" style="display: none;" />
    </form>

    @section Scripts {
        <script>
        document.getElementById('import-btn').addEventListener('click', function() {
            // Открытие диалогового окна для выбора файла
            document.getElementById('import-file').click();
        });

        document.getElementById('import-file').addEventListener('change', function() {
            // Проверяем, выбран ли файл
            if (this.files.length > 0) {
                // Если файл выбран, отправляем форму для импорта
                document.getElementById('import-form').submit();
            }
        });
        
    </script>
    }
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Клеточная линия</th>
            <th>Происхождение</th>
            <th>Дата заморозки</th>
            <th>Кем заморожена</th>
            <th>Дата разморозки</th>
            <th>Кем разморожена</th>
            <th>Отчистка</th>
            <th>Паспортизация</th>
            <th>Адрес</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.CellLine</td>
            <td>@item.Origin</td>
            <td>@item.DateOfFreezing</td>
            <td>@item.FrozenByUser?.FullName</td>
            <td>@item.DateOfDefrosting</td>
            <td>@item.DefrostedByUser?.FullName</td>
            <td>@item.Clearing</td>
            <td>@item.Certification</td>
            <td>@item.Address</td>
            <td>@item.Quantity</td>

            <!-- Кнопки действия, скрытые по умолчанию, появляются при наведении -->
            <td>
                <!-- Кнопка редактирования -->
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link text-muted edit-btn action-btn" style="font-size: 1.5rem; border: none; background: none; padding: 0;">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
